[Unit]
Description=Pig Data Collector Server

[Service]
WorkingDirectory=/home/mmdb/CIoT_udp_data_collector/
User=mmdb
ExecStart=/home/mmdb/miniconda3/bin/python -u /home/mmdb/CIoT_udp_data_collector/CIoT_udp_receiving_server.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Pig Data Collector Server

[Install]
WantedBy=multi-user.target
